header{
    padding: .5em 0;
    display: none;
    border-bottom: 1px solid #cccccc;
}
nav{
    font-family: "Electrolize",sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    padding: 0em 0em;
    margin-left: 1px;
    width: 100%;
    margin-top: -2em;
}
nav span{
	float:left;
}
