---
title: 首页
layout: page
---

<div style="display:block; width:850px; height:180px; background-image: url(http://77fm42.com1.z0.glb.clouddn.com/htrab-banner.jpg);"></div>

<h2>一、网站简介</h2>

<p><a href="http://htrab.com">《如何阅读一本书》资源汇聚站</a>]是由<a href="http://upwith.me">幸福进化俱乐部</a>发起的<b>经典领读共读活动：共读《如何阅读一本书》</b>的资源汇聚站。</p>

<p>本站主要包括共读活动过程中所产生的<b>思维导图、分享音频、转录文字、参与者感受</b>等相关资源。我们期待通过这些资源，帮助阅读爱好者们更好地去体验阅读圣经——《如何阅读一本书》，并且可以实现阅读速度和理解力的全面提升。</p>

<h4>关于《如何阅读一本书》</h4>

<img src="http://77fm42.com1.z0.glb.clouddn.com/htrab-fm.jpg" width:300px height:400px />
<p>《如何阅读一本书》被称之为阅读圣经，是每一个阅读爱好者必备图书。本书第一版于1940年出版，出版后立刻成为畅销书，更重要的是它还是一本长销书，现在流行本是由作者艾德勒于1972年重新出版时所写的，每每阅读本书，都会惊叹作者对阅读教育的用心、对提升阅读者水平的殷切期望。</p>
<p>虽然是阅读圣经，但是据不完全统计，有70%的人买来这本书之后就没有读完、80%的人读完后无法理解、90%的人从来没有实践，之所以有这样情况的出现，正是因为本书知识面之广、内容难度之深的原因造成的。为了能让本书包含的丰富知识能够惠泽更多的阅读者，我们才举行了这样的经典领读共读活动，希望我们的网站能为您的阅读能力提升做些什么。</p>

<h2>二、如何使用本网站？</h2>

<p>本网站所包含的导图、音频、文字、参与者感受等信息您都可以免费学习使用，为了帮助您更好地使用本网站，现提供网站简要使用说明如下：<p>

<h4>（一）站点地图</h4>

<p>本站结构如下：<p>
  
<ul>

<li><a href="http://htrab.com" title="首页" target="_blank">首页</a>：网站整体信息展示页</li>
<li><a href="http://htrab.com/rescourse" title="资源" target="_blank">资源</a>：本网站核心资源列表，具体包括三部分：领读资源、录音转录、活动说明</li>
<li><a href="http://htrab.com/team" title="贡献" target="_blank">贡献</a>：对本站建设做出贡献的伙伴们</li>
<li><a href="http://htrab.com/copyright" title="版权" target="_blank">版权</a>：关于版权信息的相关声明</li>
<li><a href="http://htrab.com/contract" title="联系" target="_blank">联系</a>：和我们取得联系</li>

</ul>
## 我要如何才能参加本活动？


## 彩蛋！

## 版权声明

<ul class="listing2">
{% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
  {% endif %}
  <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <!-- 文章中想显示摘要，可以将下面注释去掉。可显示100字摘要-->
    <!--<p>{{ post.content | strip_html | truncate:100 }}</p>-->
  </li>
{% endfor %}
</ul>

<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/"><前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">&lt;前页</a>
    {% endif %}
  {% else %}
    <span class="previous disabled">&lt;前页</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}">后页&gt;</a>
  {% else %}
    <span class="next disabled" >后页&gt;</span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>

